/* GENERAL STYLING */
* {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}


/* HEADER STYLING */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    height: 10vh;
}

.navbar {
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: black;
    margin: auto 1rem;
}

.navbar a:hover {
    background-color: gray;
}


/* HERO STYLING */
#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg');
    background-position: center;
    background-size: cover;
    color: antiquewhite;
    background-color: black;
}


/* ABOUT ME STYLING */
#about {
    background-color: lightgray;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* SKILLS STYLING */
#skills {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#skills h3 {
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.skill {
    background-color: lightgrey;
}

.skill img {
    width: 4em;
}


/* PROJECTS STYLING */
#projects {
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* CONTACT STYLING */
#contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* FOOTER STYLING */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
}

footer img {
    width: 4em;
}